@media only screen and (max-width: 812px) {
    * {
        font-family: sans-serif;
    }
    .header-nav {
        display: flex;
        position: static;
        width: 100%;
        min-height: 5vh;
        flex-wrap: wrap;
        border-style: solid;
    }

    .nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        color: black;
    
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        flex: 1;
        font-size: 18px;
        padding-left: 10px;
        
    }

    .phone-icon {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        font-size: 18px;
        flex: 2;
        cursor: pointer;
        z-index: 2;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #393E41;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }   

    .nav-menu div {
        border-bottom: 1px solid;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        margin: 5px;
        width: 15%;
    }

    .nav-menu div a {
        margin: 5px;
        color: white;
    }

    .main-body {
        color: yellow;
        border-style: solid;
        height: 95vh;
    }
}