@media only screen and (max-width: 275px) {
    * {
        font-family: 'Arvo';
    }

    html {
        overflow: scroll;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-name {
        padding: 0px;
        height: 30px;
        width: 40px;
    }
    
    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .nav-menu {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 3;
        width: 100%;
    }
    
    .nav-menu ul {
        text-align: center;
        
    }
    
    .nav-menu ul li {
        display: block;
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .nav-menu ul li:nth-child(odd) {
        display: block;
        list-style: none;
        padding-top: 5px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
    }
    
    .nav-menu ul li a {
        font-size: 14px;
        text-decoration-line: none;
        padding-left: 50px;
    }

    .scroll-button {
        display: none;
    }


    .main-body {
        color: yellow;
        height: 95vh;
        font-size: 24px;
    }

    .thesis {
        width: 100%;
    }

    .thesis span {
        font-size: 16px;
    }

    .info-challenge {
        width: 100%;
    }

    .info-challenge h1 {
        font-size: 16px;
    }

    
    .info-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.5;
        font-size: 9px;
    }

    
    .body-challenge {
        height: 32vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-solution {
        height: 32vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        display: flex;
        height: 25vh;
        background-color: #212A3B;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F7EB;
        font-size: 12px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        color: white;
    }


}