@media only screen and (min-width: 350px) and (max-width: 400px) {
    * {
        font-family: 'Arvo';
    }

    html {
        overflow: scroll;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-name {
        padding: 0px;
        height: 50px;
        width: 60px;
    }
    
    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .nav-menu {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 3;
        width: 100%;
    }
    
    .nav-menu ul {
        text-align: center;
        
    }
    
    .nav-menu ul li {
        display: block;
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .nav-menu ul li:nth-child(odd) {
        display: block;
        list-style: none;
        padding-top: 15px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
    }
    
    .nav-menu ul li a {
        font-size: 20px;
        text-decoration-line: none;
        padding-left: 50px;
    }

    .scroll-button {
        display: none;
    }


    .main-body {
        color: yellow;
        height: 95vh;
        font-size: 18px;
    }

    .thesis {
        width: 100%;
    }

    .thesis span {
        font-size: 20px;
    }

    .info-challenge {
        width: 100%;
    }

    .info-challenge h1 {
        font-size: 18px;
    }

    
    .info-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.5;
        font-size: 12px;
    }

    
    .body-challenge {
        height: 32vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-solution {
        height: 32vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        background-color: #212A3B;
    }
    

    .facing-challenge {
        display: flex;
        flex-direction: column;
        min-height:69.8vh;
    }
    
    .facing-challenge div {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        background-color: #F6F7EB;
    }

    .facing-challenge div:nth-child(odd){
        align-items: center;
    }
    
    .facing-challenge div img {
        width: 70%;
        height: 80%;
    }
    
    .facing-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.2;
        font-size: 14px;
    }


}