@media only screen and (min-width: 400px) and (max-width: 760px) {
    * {
        font-family: 'Arvo';
    }

    html {
        overflow: scroll;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-name {
        padding: 0px;
        height: 50px;
        width: 60px;
    }
    
    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .nav-menu {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 3;
        width: 100%;
    }
    
    .nav-menu ul {
        text-align: center;
        
    }
    
    .nav-menu ul li {
        display: block;
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .nav-menu ul li:nth-child(odd) {
        display: block;
        list-style: none;
        padding-top: 15px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
    }
    
    .nav-menu ul li a {
        font-size: 15px;
        text-decoration-line: none;
        padding-left: 50px;
    }

    .scroll-button {
        display: none;
    }

    .main-body {
        color: yellow;
        height: 95vh;
        font-size: 24px;
    }

    .thesis {
        width: 100%;
    }

    .thesis span {
        font-size: 24px;
    }

    .info-challenge {
        width: 100%;
    }

    .info-challenge h1 {
        font-size: 20px;
    }

    
    .info-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.2;
        font-size: 16px;
    }

    
    .body-challenge {
        height: 32vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-solution {
        height: 32vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 20vh;
        position: relative;
    }

    .footer div {
        color: white;
    }

    .footer div:last-child {
        width: 100%;
        text-align: center;
    }

    .facing-challenge, .solutions {
        display: flex;
        flex-direction: column;
        min-height:69.8vh;
    }
    
    .facing-challenge div, .solutions div {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        background-color: #F6F7EB;
    }

    .facing-challenge div:nth-child(odd), .solutions:nth-child(odd) {
        align-items: center;
    }
    
    .facing-challenge div img, .solutions div img {
        width: 70%;
        height: 80%;
    }

    .facing-challenge h1, .solutions h1 {
        font-size: 18px;
    }
    
    .facing-challenge p, .solutions p{
        padding: 20px 20px 20px 0px;
        line-height: 1.2;
        font-size: 14px;
    }

    .facing-challenge ul li, .solutions ul li {
        font-size: 14px;
    }
    
    .foot-menu {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .foot-menu a{
        color: white;
        font-size: 10px;
        text-decoration: none;
    }
    
    .info p, .info p strong,.info a {
        font-size: 9px;
        color: white;
    }
    
    .copyright p {
        font-size: 8px;
        color: white;
    }

    .visualization {
        flex-direction: column;
    }

    .solutions p {
        font-size: 13px;
    }

    .solutions h1 {
        font-size: 16px;
        
    }

    .technology h1 {
        font-size: 16px;
    }
    
    .technology p{
        font-size: 13px;
    }

    .visualization h1 {
        font-size: 16px;
    }
    
    .visualization p{
        font-size: 13px;
    }
    
    .visualization div img {
        height: 100%;
        width: 100%;
    }

    .goal h1 {
        font-size: 16px;
    }
    
    .goal p {
        font-size: 13px;
    }

}
    


}