@media only screen and (min-width: 400px) and (max-width: 760px) {
    * {
        font-family: sans-serif;
    }

    html {
        overflow: scroll;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-items: center;
    }

    .nav-logo {
        margin: 10px;
        display: flex;
        flex: 1;
        font-size: 18px;
    
    }

    .logo-name {
        padding: 10px;
        height: 50px;
        width: 60px;
    }


    .phone-icon {
        margin: 10px;
        display: block;
        text-align: right;
        flex: 1;
        font-size: 18px;
        cursor: pointer;
        z-index: 1;
    }

    .nav-menu {
        flex-basis: 100%;
        display: none;
        font-size: 20px;
    }

    .nav-menu ul  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 94vh;
        position: absolute;
        background-color:  #212A3B;
        text-align: center; 
        z-index: 1;
    }

    .nav-menu ul li {
        margin: 0px;
        padding: 20px;
        display: block;
    }

    .nav-menu ul li:nth-child(odd) {
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .nav-menu ul li a {
        color: white;

    }


    .main-body {
        color: yellow;
        height: 95vh;
        font-size: 24px;
    }

    .thesis {
        width: 100%;
    }

    .thesis span {
        font-size: 24px;
    }

    .info-challenge {
        width: 100%;
    }

    .info-challenge h1 {
        font-size: 20px;
    }

    
    .info-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.5;
        font-size: 16px;
    }

    
    .body-challenge {
        height: 32vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-solution {
        height: 32vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        display: flex;
        height: 25vh;
        background-color: #212A3B;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F7EB;
        font-size: 16px;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        color: white;
    }


}