@media only screen and (min-width: 400px) and (max-width: 760px) {
    * {
        font-family: sans-serif;
    }

    html {
        overflow: scroll;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-name {
        padding: 0px;
        height: 50px;
        width: 60px;
    }
    
    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .nav-menu {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 3;
        width: 100%;
    }
    
    .nav-menu ul {
        text-align: center;
        padding-left: 50px;
        
        
    }
    
    .nav-menu ul li {
        display: block;
        list-style: none;
        padding-top: 15px;
        
    }
    
    .nav-menu ul li a {
        font-size: 24px;
        text-decoration-line: none;
    
    }



    .scroll-button {
        position: absolte;;
    }
    
    .scroll-button .scroll-down {
        border: none;
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        padding: 20px;
        font-size: 18px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }


    .main-body {
        color: yellow;
        height: 95vh;
        font-size: 24px;
    }

    .thesis {
        width: 100%;
    }

    .thesis span {
        font-size: 24px;
    }

    .info-challenge {
        width: 100%;
    }

    .info-challenge h1 {
        font-size: 20px;
    }

    
    .info-challenge p {
        padding: 20px 20px 20px 0px;
        line-height: 1.5;
        font-size: 16px;
    }

    
    .body-challenge {
        height: 32vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-solution {
        height: 32vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .footer {
        display: flex;
        height: 25vh;
        background-color: #212A3B;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F7EB;
        font-size: 16px;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        color: white;
    }


}